<mat-card *ngIf="!!recipe" class="example-card">
  <mat-card-header>
    <mat-card-title>{{ recipe?.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ recipe?.urlImage }}" alt="recipe-image" class="px-4">
  <mat-card-content class="px-2">
    <div class="row">
      <div class="col-4 d-flex flex-column">
        <span class="mat-subheading-2 m-0 text-center">Rendimento</span>
        <span class="mat-subheading-1 m-0 text-center"> <strong>{{ recipe?.serverTo }}</strong></span>
      </div>
      <div class="col-4 d-flex flex-column">
        <span class="mat-subheading-2 m-0 text-center">Nível de Dificuldade</span>
        <span class="mat-subheading-1 m-0 text-center">
          <strong>{{ normalizeFirstLetter(recipe?.difficultyLevel?.displayValue) }}</strong></span>
      </div>
      <div class="col-4 d-flex flex-column">
        <span class="mat-subheading-2 m-0 text-center">Tipo de Prato</span>
        <span class="mat-subheading-1 m-0 text-center">
          <strong>{{ normalizeFirstLetter(recipe?.mealType?.displayValue) }}</strong></span>
      </div>
    </div>
    <div class="row flex-column px-3">
      <span class="mat-headline">Ingredientes</span>
      <ul *ngFor="let ingredient of recipe?.ingredients" class="d-flex flex-column">
        <li>
          <app-ingredient-display-data [ingredient]="ingredient"></app-ingredient-display-data>
        </li>
      </ul>
    </div>
    <div class="row flex-column px-3">
      <span class="mat-headline">Modo de fazer</span>
      <div *ngFor="let step of recipe?.preparationSteps" class="my-2 ml-4">
        <app-preparation-steps-display-data [preparationStep]="step"></app-preparation-steps-display-data>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button>LIKE</button>
    <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>
