<mat-card class="container">
  <mat-card-content>
    <div class="row">
      <div class="col-3">
        <div class="border-avatar">
          <img *ngIf="!!recipe.urlImage" [src]="recipe.urlImage" alt=" Recipe avatar" class="px-1 py-5 w-100" />
          <em *ngIf="!recipe.urlImage" class="fas fa-utensils d-flex justify-content-center fa-10x py-5"></em>
        </div>
      </div>
      <div *ngIf=" !!recipe" class="col-9">
        <form #recipeForm="ngForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
          <app-recipe-form [recipe]="recipe"></app-recipe-form>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
